
<%= @current_user.first_name%>


<h2>Edit a task</h2>
<%= form_with model: @current_user_task.first, url: user_task_path, method: :patch do |form| %>
<table id="tasks_table">
    <thread>
        <tr>
            <th>Action Item</th>
            <th>Category</th>
            <th>Status</th>
            <th>Deadline</th>
        </tr>
    </thread>
    
    <tbody>
        <tr>
            <td><%= form.text_field :action_item %></td>
            <td><%= form.text_field :category %></td>
            <td><%= form.text_field :status %></td>
            <td><%= form.date_field :deadline %></td>
        </tr>
    </tbody>
</table>
    <%= form.submit %>
    <%end%>
<%= link_to 'My Tasks', user_tasks_path(@current_user.id) %>