
<div class='dashboard_page'>

<h1>Welcome, <%= current_user.first_name.downcase.capitalize%>!</h1>
<div class="new_category">
        <%= link_to new_category_path do %>
             <i class="fa fa-plus-square-o"></i> New Category
        <% end %>
</div>
        <div class="card_grid_container">
    <% @categories.each do |c| %>
        <div class="cards">
            <div class="category_links">
                <div class="category_title">
                    <%= link_to c.title, category_path(c.id)%>
                    <span id="task_count"><%= c.tasks.count%></span>
                </div>
                <div class="dropdowna">
                    <button class="dropbtna"><i class="fa fa-caret-square-o-down"></i></button>
                    <div class="dropdown-contenta">
                    <%= link_to edit_category_path(c.id) do %>
                        <i class="fa fa-pencil-square-o"></i> Update Category
                    <% end %>
                    <%= link_to category_path(c.id), method: :delete, data: {confirm: 'Are you sure?'} do %>
                        <i class="fa fa-ellipsis-h"></i> Delete Category
                    <% end %>
                    </div>
                </div>

            </div>        
            <div class="category_container">
                        <% c.tasks.each do |t| %>
                            <div class="task_container">
                                <div class="task_upper">
                                    <div class="action_item">
                                        <%= link_to t.action_item, task_path(t.id)%>
                                    </div>
                                    <div class="dropdowna">
                                            <button class="dropbtna"><i class="fa fa-ellipsis-h"></i></button>
                                            <div class="dropdown-contenta">
                                            <%= link_to edit_task_path(t.id) do %>
                                                <i class="fa fa-pencil-square-o"></i> Update Task
                                            <% end %>
                                            <%= link_to task_path(t.id), method: :delete, data: {confirm: 'Are you sure?'} do %>
                                                <i class="fa fa-ellipsis-h"></i> Delete Task
                                            <% end %>
                                            </div>
                                    </div>
                                </div>
                                <div class="deadline_actions">
                                    <div class="deadline">
                                        <p><%= t.deadline.strftime('%a, %b %d')%></p>
                                        <p><%= t.priority%></p>
                                    </div>
                                    
                                </div>
                            </div>
                        <%end%>
                        <%= link_to new_category_task_path(c.id) do %>
                            <i class="fa fa-plus-square-o"></i> New Task
                        <% end %>


                        
                        	
            </div>

        </div>
    <%end%>
    </div>
</div>