<div class='dashboard_page'>

<%= current_user.first_name%><br>

        <% @categories.each do |c| %>
        <%= link_to c.title, category_path(c.id)%> | <button><%= link_to 'Update', edit_category_path(c.id)%></button> | <button><%= link_to 'Delete', category_path(c.id), method: :delete, data: {confirm: 'Are you sure?'}%></button><br>
        <table id="tasks_table">
                    <thread>
                        <tr>
                            <th>Action Item</th>
                            <th>Priority</th>
                            <th>Deadline</th>
                            <th>Action</th>
                        </tr>
                    </thread>
                    <tbody>
                        <% c.tasks.each do |t| %>
                        <tr>
                            <td><%= link_to t.action_item, task_path(t.id)%></td>
                            <td><%= t.priority%></td>
                            <td><%= t.deadline%></td>
                            <td><%= link_to 'Update', edit_task_path(t.id)%> | <%= link_to 'Delete',task_path(t.id), method: :delete, data: {confirm: 'Are you sure?'}%> </td>
                        </tr>

                        <%end%>
                    </tbody>
                </table>
                <%= link_to 'New Task', new_category_task_path(c.id) %><br><br><br><br>
        <%end%>

<%= link_to 'Add Category', new_category_path%><br>
</div>