<%= current_user.first_name%><br>

        <% @current_user.categories.each do |c| %>
        <%= link_to c.project_title, user_category_path(current_user.id, c)%> | <button><%= link_to 'Update', edit_user_category_path(current_user.id, c)%></button> | <button><%= link_to 'Delete', user_category_path(current_user.id, c), method: :delete, data: {confirm: 'Are you sure?'}%></button><br>
        <table id="tasks_table">
                    <thread>
                        <tr>
                            <th>Action Item</th>
                            <th>Urgency</th>
                            <th>Impact</th>
                            <th>Status</th>
                            <th>Deadline</th>
                            <th>Action</th>
                        </tr>
                    </thread>
                    <tbody>
                        <% c.tasks.each do |t| %>
                        <tr>
                            <td><%= link_to t.action_item, user_category_task_path(current_user.id,c.id,t.id)%></td>
                            <td><%= t.urgency%></td>
                            <td><%= t.impact%></td>
                            <td><%= t.status%></td>
                            <td><%= t.deadline%></td>
                            <td><%= link_to 'Update', edit_user_category_task_path(current_user.id,c.id, t.id)%> | <%= link_to 'Delete',user_category_task_path(current_user.id,c.id, t.id), method: :delete, data: {confirm: 'Are you sure?'}%> </td>
                        </tr>

                        <%end%>
                    </tbody>
                </table>
                <%= link_to 'New Task', new_user_category_task_path(current_user.id, c.id) %><br><br><br><br>
        <%end%>

<%= link_to 'Add Category', new_user_category_path%><br>
