
<%= current_user.first_name%>

    <ul>
        <% current_user.categories.each do |c| %>
            <li><%= link_to c.project_title, user_category_path(current_user.id, c)%> | <button><%= link_to 'Update', edit_user_category_path(current_user.id, c)%></button> | <button><%= link_to 'Delete', user_category_path(current_user.id, c), method: :delete, data: {confirm: 'Are you sure?'}%></button></li>
            <li><%= link_to 'New Task', new_user_category_task_path(current_user.id, c.id) %></li>    
            <table id="tasks_table">
                    <thread>
                        <tr>
                            <th>Action Item</th>
                            <th>Urgency</th>
                            <th>Impact</th>
                            <th>Status</th>
                            <th>Deadline</th>
                            <th>Action</th>
                        </tr>
                    </thread>
                    <tbody>
                        <% c.tasks.each do |t| %>
                        <tr>
                            <td><%= link_to t.action_item, user_category_task_path(current_user.id,c.id,t.id)%></td>
                            <td><%= t.urgency%></td>
                            <td><%= t.impact%></td>
                            <td><%= t.status%></td>
                            <td><%= t.deadline%></td>
                            <td><%= link_to 'Update', edit_user_category_task_path(current_user.id,c.id, t.id)%> | <%= link_to 'Delete',user_category_task_path(current_user.id,c.id, t.id), method: :delete, data: {confirm: 'Are you sure?'}%> </td>
                        </tr>
                        <%end%>
                    </tbody>
                </table>
        <%end%>
    </ul>
<%= link_to 'Add Category', new_user_category_path%>